In [1]:
from itertools import groupby
import string
import random

In [2]:
x = random.choices(string.ascii_lowercase,k=20)

In [3]:
x

['u',
 'c',
 'a',
 'a',
 'l',
 'f',
 'z',
 'j',
 'u',
 'u',
 'y',
 'h',
 'f',
 'f',
 'f',
 'c',
 'o',
 'w',
 'c',
 'k']

In [4]:
x = sorted(x)

In [5]:
groupby(x)

In [6]:
for key,group in (groupby(x)):
    print('key',key,' group',list(group))

key a  group ['a', 'a']
key c  group ['c', 'c', 'c']
key f  group ['f', 'f', 'f', 'f']
key h  group ['h']
key j  group ['j']
key k  group ['k']
key l  group ['l']
key o  group ['o']
key u  group ['u', 'u', 'u']
key w  group ['w']
key y  group ['y']
key z  group ['z']

In [12]:
data = [
    ('1212321','KAT'),
    ('1212341','CAT'),
    ('12122341','MAT'),
    ('1212321','KAT'),
    ('1212321','KAT'),
    ('1212321','CAT'),
    ('1212321','MAT'),
    ('1212321','CAT')
]

In [13]:
data = sorted(data,key=lambda x:x[1])

In [14]:
data

[('1212341', 'CAT'),
 ('1212321', 'CAT'),
 ('1212321', 'CAT'),
 ('1212321', 'KAT'),
 ('1212321', 'KAT'),
 ('1212321', 'KAT'),
 ('12122341', 'MAT'),
 ('1212321', 'MAT')]

In [15]:
for key,group in (groupby(data,key = lambda x:x[1])):
    print('key: ',key,' groups',list(group))
    print('\n')

key:  CAT  groups [('1212341', 'CAT'), ('1212321', 'CAT'), ('1212321', 'CAT')]


key:  KAT  groups [('1212321', 'KAT'), ('1212321', 'KAT'), ('1212321', 'KAT')]


key:  MAT  groups [('12122341', 'MAT'), ('1212321', 'MAT')]

In [16]:
# groupby odd and even

def check_even(n):
    if n%2 == 0:
        return 'even'
    else:
        return 'odd'
    
def grouper(iterable):
    iterable = sorted(iterable,key = check_even)
    print(iterable)
    grouped = groupby(iterable,check_even)
    for key,group in grouped:
        print("key",key,"group",list(group))

In [17]:
import random
x = random.sample(list(range(1,50)),3)

In [18]:
x

[35, 6, 38]

In [20]:
grouper(x)

[6, 38, 35]
key even group [6, 38]
key odd group [35]

In [23]:
import itertools
num = [[110, 120], [240], [330, 456, 425], [310, 220], [133], [240]]
print("Original List", num)
num.sort()
# new_num = list(num,group for num,group in itertools.groupby(num))
# print("New List", new_num)
for num,group in itertools.groupby(num):
    print("num ",num," group",group)

Original List [[110, 120], [240], [330, 456, 425], [310, 220], [133], [240]]
num  [110, 120]  group <itertools._grouper object at 0x000001A6C7C65198>
num  [133]  group <itertools._grouper object at 0x000001A6C7C65048>
num  [240]  group <itertools._grouper object at 0x000001A6C7C65710>
num  [310, 220]  group <itertools._grouper object at 0x000001A6C7C650B8>
num  [330, 456, 425]  group <itertools._grouper object at 0x000001A6C7C65208>